.App {
  text-align: center;
  padding: 20px;
}

header {
  margin-bottom: 20px;
}

h1 {
  font-size: 24px;
  margin-bottom: 10px;
}

p {
  font-size: 18px;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.chatbox {
  width: 300px;
  height: 300px;
  border: 1px solid #ccc;
  overflow-y: scroll;
  margin-bottom: 20px;
  padding: 10px;
}

.user-message {
  background-color: #348298;
  padding: 10px;
  margin: 10px 0;
  text-align: right;
  border-radius: 5px;
  display: inline-block;
  white-space: break-spaces;
}

.bot-message {
  background-color: #1a781a;
  padding: 10px;
  margin: 10px 0;
  text-align: left;
  border-radius: 5px;
  display: inline-block;
  white-space: break-spaces;
}

.input-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

input {
  width: 70%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 10px;
}

button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

body {
  background-color: #2b2a38; /* Color de fondo oscuro */
  color: white; /* Color del texto */
  font-family: Arial, sans-serif; /* Fuente del texto */
  margin: 0; /* Elimina el margen predeterminado */
  padding: 0; /* Elimina el relleno predeterminado */
}

button:hover {
  background-color: #0056b3;
}